.container1 {
    display: flex;
}

.box {
    width: 1000px;
    height: 200px;
    background-color: #666660;
    margin: 5px;
    text-align: center;
    color: #ffffff
}

.imagealign {
    width: 200px;
    height: auto;
    border: 3px solid black
}

.image-wrapper {
    text-align: center;
}
 
.centered {
    text-align: center;
}
